<h2>Tickets</h2>

<div class="container">
    <div *ngFor="let ticket of tickets$ | async">
        <button class="card" (click)="goToDetails(ticket.id)">
            <label class="label">Ticket: {{ ticket.id }}</label>
            <div>{{ ticket.description }}</div>
        </button>
    </div>
    <button *ngIf="!showModal" class="add" (click)="toggleModalTicket()">
        <i class="fas fa-plus"></i>
    </button>
</div>

<div *ngIf="showModal">
    <form (ngSubmit)="addTicket($event)">
        <h4>Description du ticket</h4>
        <input type="text" id="description" required [(ngModel)]="description" name="description">
        <button type="submit">Ajout</button>
        <button (click)="cancel()">Fermer</button>
    </form>
    
</div>